@import '../../index.scss';

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        list-style: none;
        display: flex;
        li{
            margin: 0 10px;
        }
    }
    button:not([disabled]).active{
        cursor: auto;
        background-color: $primary-shade-1;
        color: $primary-text;
    }
}