@import '../../index.scss';

.title {
    text-align: center;
    font-size: 2.5rem;
    margin:10px;
    font-weight: 700;
}
.filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;

    input {
        flex: 1 0 1;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        width: 30%;
    }
}

.grid {
    display: flex;
	flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
	padding: 10px;
	justify-content: center;
    .row {
        max-width: 200px;
        height: 250px;
		margin-bottom:2rem;
        @include responsive($xl) {
            flex: 1 1 auto;
        }

        @include responsive($lg) {
            flex: 1 1 auto;
        }

        @include responsive($md) {
            flex: 1 1 auto;

        }

        @include responsive($sm) {
            flex: 1 1 auto;
        }

        @include responsive($xs) {
            flex: 1 1 auto;
        }

    }
}

