@import "../../index.scss";

nav.navbar {
    background-color: $primary-shade-4;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: $header-z-index;
    //    padding: 0.25rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
}
.info {
    display: flex;
    align-items: center;
    * {
        margin-right: 10px;
    }
}
