@import '../../index.scss';

button {
//    background-color: #ffff;
    background-color: transparent;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    margin-left: 1.5px;
    margin-right: 1.5px;
    user-select: none;
    border:none;
    border-radius: 5px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	&:not([disabled]){
		cursor: pointer;
	}
    &:not([disabled]):active{
        border: 1px solid $primary-light;
    }
    &:not([disabled]).outlined{
	    border: 1px solid $primary-shade-1;
		&:hover{
	    	border: 1px solid transparent;
			color: $primary-text;
		}
	}
	
	&:not([disabled]).primary {
		color: $primary-shade-1;
	    background-color: $primary-shade-3;
	    &:hover {
			background-color: $primary-shade-1;
			color: $primary-text;
	    }
	}
	&:not([disabled]).secondary {
	    color: $primary-text;
	    &:hover {
			background-color: $primary-shade-3;
			color: $primary-text;
	    }
	}
	&:disabled{
		background-color: $primary-shade-5;
	}
	
}