@import '../../index.scss';

header{
    background-color: $primary-shade-4;
    position: fixed;
    bottom:0;
    width:100%;
	z-index: $header-z-index;
//    padding: 0.25rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}
