@import '../../index.scss';
%main{
    overflow-y: auto;
}
.main-full{
    overflow-y: auto;
    padding-left: $sidebar-opened-width;
}
    
.main-collapsed{
    overflow-y: auto;
    padding-left: $sidebar-collapsed-width;
}