$primary: #931248;
$primary-text: #F2D0D0;
$primary-light: #dc2b78;
$primary-dark: #7b1842;

$secondary: #f7bacf;
$secondary-text: #5C273D;
$secondary-light: #ffeeff;
$secondary-dark: #c48b9f;

$primary-shade-1 :#dc2b78;
$primary-shade-2 :#C2276A;
$primary-shade-3 :#931248;
$primary-shade-4 :#770c39;
$primary-shade-5 :#661537;

$sidebar-icon-size: 2rem;
$sidebar-padding: 10px;
$sidebar-collapsed-width: 51px;
$sidebar-opened-width: 121px;

$header-z-index: 10;

body {
    margin: 0px;
    user-select: none;
    background: $primary-shade-3;
    color: $primary-text;
}

$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$md: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // Small Tablets
$xs: 20em; //Phone? if tauri compiles to android

@mixin responsive($query) {
    @media (min-width: $query ) {
        @content;
    }
}

// shadow
:root {
    --shadow-color: 335deg 99% 18%;
    --shadow-elevation-low:
        0px 0.2px 0.2px hsl(var(--shadow-color) / 0.57),
        0.1px 0.8px 0.9px -2.9px hsl(var(--shadow-color) / 0.48);
    --shadow-elevation-medium:
        0px 0.2px 0.2px hsl(var(--shadow-color) / 0.53),
        0.1px 1px 1.1px -1.5px hsl(var(--shadow-color) / 0.48),
        0.4px 3.9px 4.1px -2.9px hsl(var(--shadow-color) / 0.42);
    --shadow-elevation-high:
        0px 0.2px 0.2px hsl(var(--shadow-color) / 0.49),
        -0.3px 0px 0.3px hsl(var(--shadow-color) / 0.49),
        0.3px 2.8px 3px -1.2px hsl(var(--shadow-color) / 0.44),
        1.2px 10.8px 11.5px -2.4px hsl(var(--shadow-color) / 0.39),
        0.2px -1.3px 1.4px -0.6px hsl(var(--shadow-color) / 0.47),
        0.4px -2.9px 3.1px -1.2px hsl(var(--shadow-color) / 0.44),
        0.8px -5.8px 6.2px -1.8px hsl(var(--shadow-color) / 0.42),
        1.5px -11.1px 11.8px -2.4px hsl(var(--shadow-color) / 0.39),
        2.7px -19.7px 21px -2.9px hsl(var(--shadow-color) / 0.37),
        -1.6px -0.1px 1.7px -0.6px hsl(var(--shadow-color) / 0.47),
        -3.6px -0.1px 3.8px -1.2px hsl(var(--shadow-color) / 0.44),
        -13.7px -0.5px 14.5px -2.4px hsl(var(--shadow-color) / 0.39);
}
