@import '../../index.scss';


.thumbnail {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 0;
    cursor: pointer;
    word-wrap: break-word;
    background-color: $primary-shade-2;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    box-shadow: var(--shadow-elevation-medium);
    * {
        transition: box-shadow 100ms ease-in;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0.25rem;
        border-radius: 0.25rem;
        box-shadow: var(--shadow-elevation-low);
    }

    &:hover{
        box-shadow: var(--shadow-elevation-high);
        }
    .description {
        display: flex;
        justify-self: flex-end;
        justify-content: space-between;
    }
}

.description {
    .name {
        font-weight: bold;
    }

    .size {
        padding: 0.25rem;
        background: $primary-shade-1;
        border-radius: 100%;
        color: $secondary-text;
    }
}